{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>Quran World</title>
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
<link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet">
<link href="{% static 'css/main.css' %}" rel="stylesheet">
<link href="{% static 'css/responsive.css' %}" rel="stylesheet">
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->
<link rel="shortcut icon" href="{% static 'images/ico/favicon.ico' % }">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'images/ico/apple-touch-icon-144-precomposed.png' %}">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'images/ico/apple-touch-icon-114-precomposed.png' %}">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'images/ico/apple-touch-icon-72-precomposed.png' %}">
<link rel="apple-touch-icon-precomposed" href="{% static 'images/ico/apple-touch-icon-57-precomposed.png' %}">
</head>
<body class="homepage">
<header id="header">
<div class="top-bar">
<div class="container">
<div class="row">
<div class="col-sm-6 col-xs-4">
<div class="top-number"><p><i class="fa fa-phone-square"></i> +92 3066364644</p></div>
</div>
<div class="col-sm-6 col-xs-8">
<div class="social">
<ul class="social-share">
<li><a href="#"><i class="fa fa-facebook"></i></a></li>
<li><a href="#"><i class="fa fa-twitter"></i></a></li>
<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
</ul>
<div class="search">
<form role="form">

<input type="text" class="search-form" autocomplete="off" placeholder="Search">

<i class="fa fa-search"></i>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
<nav class="navbar navbar-inverse" role="banner">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="index.html"><img src="{% static 'images/log.png' %}" alt="logo"></a>
</div>
<div class="collapse navbar-collapse navbar-right">
<ul class="nav navbar-nav">
<li class="active"><a href="/">Home</a></li>
<li><a href="quran">Search From Quran</a></li>
<li><a href="hadith/">Search From Hadith</a></li>
<li><a href="prayers.html">Learn Duas</a></li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Learn Islam<i class="fa fa-angle-down"></i></a>
<ul class="dropdown-menu">
<li><a href="#">One</a></li>
<li><a href="#">One</a></li>
<li><a href="#">One</a></li>
<li><a href="#">One</a></li>
</ul>
</li>
<li><a href="contact">Contact</a></li>
</ul>
</div>
</div>
</nav>
</header>
<section id="main-slider" class="no-margin">
<div class="carousel slide">
<ol class="carousel-indicators">
<li data-target="#main-slider" data-slide-to="0" class="active"></li>
<li data-target="#main-slider" data-slide-to="1"></li>
<li data-target="#main-slider" data-slide-to="2"></li>
</ol>
<div class="carousel-inner">
<div class="item active" style="background-image:url({% static 'images/slider/bg1.jpg' %})">
<div class="container">
<div class="row slide-margin">
<div class="col-sm-6">
<div class="carousel-content">
<h1 class="animation animated-item-1">BEING MUSIM IS THE BEST
    <BR>
    REWARD BY ALLAH
</h1>


</div>
</div>
<div class="col-sm-6 hidden-xs animation animated-item-4">
<div class="slider-img">
<img src="{% static 'images/slider/img1.png' %}" class="img-responsive">
</div>
</div>
</div>
</div>
</div>
<div class="item" style="background-image:url({% static 'images/slider/bg2.jpg' %})">
<div class="container">
<div class="row slide-margin">
<div class="col-sm-6">
<div class="carousel-content">
<h1 class="animation animated-item-1">THE BACBITER SHALL NOT ENTER IN PARADISE</h1>
<h2 class="animation animated-item-2"></h2>

</div>
</div>
<div class="col-sm-6 hidden-xs animation animated-item-4">
<div class="slider-img">
<img src="{% static 'images/slider/img2.png' %}" class="img-responsive">
</div>
</div>
</div>
</div>
</div>
<div class="item" style="background-image:url({% static 'images/slider/bg3.jpg' %})">
<div class="container">
<div class="row slide-margin">
<div class="col-sm-6">
<div class="carousel-content">
<h1 class="animation animated-item-1">TAKE EVERY DAY AS A CHANCE TO BECOME A BETTER MUSLIM.</h1>
</div>
</div>
<div class="col-sm-6 hidden-xs animation animated-item-4">
<div class="slider-img">
<img src="{% static 'images/slider/img3.png' %}" class="img-responsive">
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<a class="prev hidden-xs" href="#main-slider" data-slide="prev">
<i class="fa fa-chevron-left"></i>
</a>
<a class="next hidden-xs" href="#main-slider" data-slide="next">
<i class="fa fa-chevron-right"></i>
</a>
</section>

<!--start of prayer container-->

<section id="feature" class="transparent-bg" style="">
    <div class="container">
    <div class="center wow fadeInDown">
    <h2>Prayer Times</h2>
    <p class="lead">In Differnet Cities Of PAKISTAN</p>
    </div>
    <div class="row">
    <div class="features">
    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
    <div class="feature-wrap">
    <div class="prayer-times1 shadow-box"  style="height: 280px; vertical-align: middle"><h3>KARACHI</h3>
        <table class="table table-striped" style="text-align: center; vertical-align: middle">
                        
                {% for x,y in city1 %}
                      
            <tr>
                    
                    <td>{{x}} : {{y}}</td>
                    
            </tr>
        {% endfor %}   
            
        </table>
    </div>
    </div>
    </div>
    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="feature-wrap">
                <div class="prayer-times2 shadow-box"  style="height: 280px"><h3>LAHORE</h3>
                    <table class="table table-striped" style="text-align: center; ">
                                    
                                {% for x,y in city2 %}
                                  
                        <tr>
                                
                                <td>{{x}} : {{y}}</td>
                                
                        </tr>
                    {% endfor %}   
                        
                    </table>
                </div>
                </div>
                </div>
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                                <div class="feature-wrap">
                                <div class="prayer-times3 shadow-box"  style="height: 280px"><h3>ISLAMABAD</h3>
                                    <table class="table table-striped" style="text-align: center; ">
                                                    
                                                {% for x,y in city3 %}
                                                  
                                        <tr>
                                                
                                                <td>{{x}} : {{y}}</td>
                                                
                                        </tr>
                                    {% endfor %}   
                                        
                                    </table>
                                </div>
                                </div>
                                </div>
<div>
        <div style="margin-left: 20%">       
        <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                                <div class="feature-wrap">
                                <div class="prayer-times3 shadow-box"  style="height: 280px"><h3>PESHAWAR</h3>
                                    <table class="table table-striped" style="text-align: center; ">
                                                    
                                                {% for x,y in city4 %}
                                                  
                                        <tr>
                                                
                                                <td>{{x}} : {{y}}</td>
                                                
                                        </tr>
                                    {% endfor %}   
                                        
                                    </table>
                                </div>
                                </div>
                                </div>
</div>
<div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="feature-wrap">
                <div class="prayer-times2 shadow-box"  style="height: 280px"><h3>QUETTA</h3>
                    <table class="table table-striped" style="text-align: center; ">
                                    
                                {% for x,y in city5 %}
                                  
                        <tr>
                                
                                <td>{{x}} : {{y}}</td>
                                
                        </tr>
                    {% endfor %}   
                        
                    </table>
                </div>
                </div>
                </div>
        </div>
    
    
    </div>
    </div>
    </div>
    </section>

<!--end of prayer container-->

<!-- cut this section  -->
<section id="feature">
<div class="container">
<div class="center wow fadeInDown">
<h2>BEST ISLAMIC QUOTES</h2><br>
</div>
<div class="row">
<div class="features">
<div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
<div class="feature-wrap">
<i class="fa fa-bullhorn"></i>
<h2>Allah Makes The Impossible <strong>Possible</strong></h2>
</div>
</div>
<div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="feature-wrap">
        <i class="fa fa-bullhorn"></i>
        <h2>Be Patient For What Was Written For You Was Written By The <strong>Gretest Of Writers</strong></h2>
        </div>
        </div>
        <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="feature-wrap">
                <i class="fa fa-bullhorn"></i>
                <h2>Men And Women Have Equal Reward For Their <strong>Deeds</strong></h2>
                </div>
                </div>
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                        <i class="fa fa-bullhorn"></i>
                        <h2>The <strong>Backbiter</strong> Shall not enter in <strong>Paradise</strong></h2>
                        </div>
                        </div>

                        <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                                <div class="feature-wrap">
                                <i class="fa fa-bullhorn"></i>
                                <h2>If You Are In Doubt Ask Allah Perform <strong>Salat Istikharah</strong></h2>
                                </div>
                                </div>
                                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                                        <div class="feature-wrap">
                                        <i class="fa fa-bullhorn"></i>
                                        <h2>The More I See Of The World The More I Silently Wisper, <strong>"Alhamdulliah for Islam"</strong></h2>
                                        </div>
                                        </div>
</div>
</div>
</div>
</section>

<!-- end of section-->
<section id="recent-works">
<div class="container">
<div class="center wow fadeInDown">
<h2>Why do we need to know about Islam?</h2>
<p class="lead">بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيم<br>Islam is the second largest religion in the world (after Christianity) and will soon be the second largest religion in America. <br>
    The Muslims believe in one God, the creator, sustainer, ruler, and judge of the universe.
     Muslims believe in prophets, not just the Prophet Muhammad S.A.W.W (Last Prophet) but the prophets of the Hebrew Bible, including Abraham and Moses, and of the
      New Testament, Jesus and John the Baptist. They also believe in angels, heaven, hell, and the Day of Judgment. 
    Islam acknowledges that God’s revelation was received in the Torah, the Psalms, the Gospels, and the Quran
</p>

</div>
</div>
</section>

<!--should be included -->
<section id="services" class="service-item">
<div class="container">
<div class="center wow fadeInDown">
<h2>Islmaic Events</h2>

</div>
<div class="row">
<div class="col-sm-6 col-md-4">
<div class="media services-wrap wow fadeInDown">
<div class="pull-left">
<img class="img-responsive" src="{% static 'images/fitar.png' %}">
</div>
<div class="media-body">
<h3 class="media-heading">	Eid al Fitr</h3>
<p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
</div>
</div>
</div>
<div class="col-sm-6 col-md-4">
<div class="media services-wrap wow fadeInDown">
<div class="pull-left">
<img class="img-responsive" src="{% static 'images/adha.jpg' %}">
</div>
<div class="media-body">
<h3 class="media-heading">Eid al Adha</h3>
<p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
</div>
</div>
</div>
<div class="col-sm-6 col-md-4">
<div class="media services-wrap wow fadeInDown">
<div class="pull-left">
<img class="img-responsive" src="{% static 'images/services/services3.png' %}">
</div>
<div class="media-body">
<h3 class="media-heading">12 Rabi ul Awal</h3>
<p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
</div>
</div>
</div>
<div class="col-sm-6 col-md-4">
<div class="media services-wrap wow fadeInDown">
<div class="pull-left">
<img class="img-responsive" src="{% static 'images/Ramadan.jpg' %}">
</div>
<div class="media-body">
<h3 class="media-heading">Ramadan</h3>
<p></p>
</div>
</div>
</div>
<div class="col-sm-6 col-md-4">
<div class="media services-wrap wow fadeInDown">
<div class="pull-left">
<img class="img-responsive" src="{% static 'images/hajj.jpg' %}">
</div>
<div class="media-body">
<h3 class="media-heading">Hajj</h3>
<p></p>
</div>
</div>
</div>
<div class="col-sm-6 col-md-4">
<div class="media services-wrap wow fadeInDown">
<div class="pull-left">
<img class="img-responsive" src="{% static 'images/newyear.jpg' %}">
</div>
<div class="media-body">
<h3 class="media-heading">Islamic New Year</h3>
<p></p>
</div>
</div>
</div>
</div>
</div>
</section>
<section id="conatcat-info">
<div class="container">
<div class="row">
<div class="col-sm-8">
<div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
<div class="pull-left">

</div>
<div class="media-body">
<h2>Islam Facts</h2>
<p>
        <ul>
                <li>The word “Islam” means “submission to the will of God.”</li>
                <li>Followers of Islam are called Muslims.</li>
                <li>Islam teaches that Allah’s word was revealed to the prophet Muhammad through the angel Gabriel.</li>
                <li>Mosques are places where Muslims worship.</li>
                <li>Followers worship Allah by praying and reciting the Quran. They believe there will be a day of judgment, and life after death</li>
                <li>Followers of Islam aim to live a life of complete submission to Allah. They believe that nothing can happen without Allah’s permission, but humans have free will.</li>
              </ul> 
</p>
</div>
</div>
</div>
</div>
</div>
</section>
<footer id="footer" class="midnight-blue">
<div class="container">
<div class="row">
<div class="col-sm-6">
<a target="_blank" href="" title="Free Islamic Templates">QURAN WORLS</a> &copy;  All Rights Reserved.
</div>
<div class="col-sm-6">
<ul class="pull-right">
<li><a href="/">Home</a></li>
<li><a href="/quran">Search From Quran</a></li>
<li><a href="/hadith">Search From Hadith</a></li>
<li><a href="/contact">Contact</a></li>
</ul>
</div>
</div>
</div>
</footer>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
<script src="{% static 'js/jquery.isotope.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
</body>
</html>